/* styles.css */
.search-highlight {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-highlight-current {
  background-color: rgba(255, 255, 255, 0.5);
}

.emacs-minibuffer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 24px;
  background: var(--background-primary);
  border-top: 1px solid var(--background-modifier-border);
  padding: 2px 8px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 4px;
}

.emacs-minibuffer-label {
  font-family: var(--font-monospace);
  font-size: 12px;
  white-space: nowrap;
}

.emacs-minibuffer-input {
  flex: 1;
  background: transparent;
  border: none !important;
  box-shadow: none!important;
  font-family: var(--font-monospace);
  font-size: 12px;
  color: var(--text-normal);
  padding: 0;
  margin: 0;
  height: 20px;
}